@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.customCss {

    display: flex;
    width: 70%;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgb(201 211 223) 2px 4px 30px -3px;
    border-radius: 4px;
}


.try-container.jsx-1 {

    padding: 1em;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(201 211 223) 2px 4px 30px -3px;
    margin-right: 2rem;

}

h3.jsx-1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form.jsx-2 {

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    

}

input.jsx-2 {
    width: 100%;
    margin-right: 1em;
}

#wpwrap {

    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
    /* background-image: url(../img/bg.jpg);
    background-size: cover; */


}


